* {
    font: "JetBrainsMono Nerd Font Mono 12";
    
    bg: rgba(0,0,0,85%);
    fg: #e1e1e1;
    accent: #f93d0e;
    border: #c94a00;
    selected-bg: rgba(255,255,255, 5%);
    
    background-color: transparent;
    text-color: @fg;
    
    separatorcolor: transparent;
}

window {
    background-color: @bg;
    border: 1px solid;
    border-color: @border;
    border-radius: 0px;
    width: 30%;
    padding: 0px;
}

mainbox {
    padding: 10px;
    children: [ inputbar, listview ];
}

inputbar {
    children: [ entry ];
    padding: 10px;
}

entry {
    placeholder: "Search...";
    placeholder-color: #777777;
    text-color: @fg;
}

listview {
    lines: 10;
    fixed-height: true;
    scrollbar: false;
}

element {
    padding: 10px;
    border-radius: 5px;
    children: [ element-text, element-icon ];
}

element selected {
    background-color: @selected-bg;
}

element-text {
    text-color: inherit;
    vertical-align: 0.5;
}

element-text selected {
    text-color: @accent;
}

element-icon {
    size: 24px;
    padding: 0 10px 0 0;
}
